body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.sidebar {
  width: 240px;
  height: 100vh;
  border-right: 1px solid #c1242b;
}

.sidebar a {
  color: rgb(36, 36, 36) !important;
}

.sidebar .username {
  color: #c1242b !important;
  font-weight: 600;
}

.dropdown-toggle { outline: 0; }

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #c1242b !important;
  color: #fff !important;
}