:root {
  --primary-color: #c1242b;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #F5F8FB;
  font-family: 'Roboto', sans-serif;
  color: #262b40;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.sidebar {
  width: 240px;
  height: 100vh;
  border-right: 1px solid var(--primary-color);
}

.sidebar a {
  color: rgb(36, 36, 36) !important;
}

.sidebar .username,
.sidebar .dropdown-item {
  color: var(--primary-color) !important;
  font-weight: 500;
  cursor: pointer;
}

.dropdown-toggle { outline: 0; }

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}

h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.auth-form {
  border-radius: 5px;
  margin-top: 5% !important;
  margin: auto;
  width: 35%;
  padding: 20px 40px;
  -webkit-box-shadow: 10px 10px 51px -15px rgba(185,192,199,1);
  -moz-box-shadow: 10px 10px 51px -15px rgba(185,192,199,1);
  box-shadow: 10px 10px 51px -15px rgba(185,192,199,1);
}

.auth-login {
  margin-top: 10% !important;
}

.auth-form .lostpassword {
  font-size: 14px !important;
}

.btn-wh {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

table {
  background-color: #fff;
}

.table-primary-head {
  background-color: var(--primary-color);
  color: #fff !important;
}

.users .dropdown-toggle::after {
  display: none;
}

.users .table-responsive {
  overflow-x: revert !important;
}

.c-textarea {
  height: 150px !important;
}

.user-img {
  border-radius: 50% !important;
}

.card {
  border-radius: 17px !important;
  border-color: #ffffff !important;
}

.revert-form-control {
  border-color: #fff !important;
}

.revert-form-control:focus {
  border-color: #fff !important;
  box-shadow: none !important;
}